/*
    Pokemon type colors
*/
.type-normal { --color: #919aa2; }

.type-flying { --color: #8aa9da; }

.type-ghost { --color: #4c69ab; }

.type-dark { --color: #5a5264; }

.type-steel { --color: #528ea0; }

.type-ground { --color: #e0794a; }

.type-poison { --color: #ad69c6; }

.type-grass { --color: #56bc61; }

.type-fire { --color: #ff9d5d; }

.type-electric { --color: #f8d34f; }

.type-fairy { --color: #f28fe4; }

.type-bug { --color: #8fc13e; }

.type-fighting { --color: #d63d6b; }

.type-water { --color: #3f91d3; }

.type-psychic { --color: #ff717c; }

.type-ice { --color: #66cfc0; }

.type-rock { --color: #c8b88f; }

.type-dragon { --color: #006dbf; }

html{
    overflow-y: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}